h1 {
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 2cm;
  font-size: x-large;
}
#reader {
  width: 500px;
}

.result {
  background-color: green;
  color: #fff;
  padding: 20px;
}

.row {
  display: flex;
}

#reader__scan_region {
  background: white;
}
body{
  margin-left: 2cm;
  margin-right: 2cm;
  background-color: #D3D3D3;
}

.head {
  display: flex; /* Verwenden von Flexbox für die Anordnung von Bild und Text */
  align-items: center; /* Zentrieren der Elemente vertikal */
}

.head_logo {
  max-width: 500px; /* Maximalbreite für das Bild */
  margin-right: 100px; /* Abstand zwischen Bild und Text */
}

.container1 {
  display: flex; /* Flexbox verwenden */
  justify-content: space-between; /* Abstand zwischen den Aufzählungslisten */
  align-items: center;
}

#abmelden-button{
  text-align: right;
  margin-left: 4cm;
  width: 3cm;
  height: 1cm;
  color: black;
  background-color: #e0e0e0;
  border: 2px white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

#abmelden-button:hover{
  background-color: #f0f0f0;
}

.welcome{
  text-align: center;
  flex: 1;
}

a {
  color: black;
  text-decoration: none;
}


.container1 {
  display: flex; /* Flexbox verwenden */
  justify-content: space-between; /* Abstand zwischen den Aufzählungslisten */
  align-items: center;
}

.head {
  display: flex; /* Verwenden von Flexbox für die Anordnung von Bild und Text */
  align-items: center; /* Zentrieren der Elemente vertikal */
}

.main_text {
  font-size: 36px; /* Schriftgröße */
  color: #333; /* Schriftfarbe (Hexadezimalwert oder Farbname) */
  font-weight: bold; /* Fett gedruckte Schrift */
  text-align: center; /* Text zentrieren */
  text-transform: uppercase; /* Text in Großbuchstaben umwandeln */
  margin-top: 0.7cm;
}

.logout {
  text-align: right;
  margin-left: 6cm;
}

.welcome{
  text-align: center;
  flex: 1;
  margin-bottom: 2cm;
}
